@using TwitterBootstrap2
@using TwitterBootstrapMVC
@{
    ViewBag.Title = "Teachers Info";
}
<script src="~/Scripts/jquery-1.8.0.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<div id="CourseDesAssign"></div>
@*<input type="button" value="Click" id="button"/>*@
<div id="TeachersTable" style="margin: 30px auto 45px; width: 90%;">
    <input type="hidden" id="SubmitStatus" />
    @using (Html.Bootstrap().Begin(new Table().Bordered().Hover().HtmlAttributes(new { @id = "tblTeacherCollection", @class = "display stripe order-column" })))
    {

        <thead>
            <tr>
                <th>Sr No.</th>
                <th>First Name</th>
                <th>Last name</th>
                <th>Email Address</th>
                <th>User Name</th>
                <th>Course Details</th>
                <th>Phone Number</th>
                <th>Created On</th>
                <th>Last Updated</th>
            </tr>
        </thead>
        <tbody id="TeacherInfo">
        </tbody>
    }
</div>
<div id="CourseDetails" style="display: none;">
    @using (Html.Bootstrap().Begin(new Table().Bordered().Hover().HtmlAttributes(new { @id = "tblCourseDetailsCollection", @class = "display stripe order-column" })))
    {

        <thead>
            <tr>
                <th>Sr No.</th>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Section</th>
                <th>De-Assign Course</th>
            </tr>
        </thead>
        <tbody id="CourseDetailsBody">
        </tbody>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
<script type="text/javascript">
    var assignCourseTable;
    window.onload = function () {
        GetAllTeachers();
    };
    GetAllTeachers = function () {
        $.ajax({
            type: "POST",
            url: "GetAllTeachers",
            contentType: "application/json; charset=utf-8",
            //traditional: true,
            dataType: "json",
            beforeSend: function () { $.showprogress(); },
            success: function (msg) {
                // Replace the div's content with the page method's return.
                if (msg != null) {
                    $("#TeacherInfo").html("");
                    $('#tblTeacherCollection').dataTable().fnDestroy();
                    $('#TeacherInfo').html(msg);
                    
                    $('#tblTeacherCollection').dataTable({
                        "iDisplayLength": 10,
                        "aLengthMenu": [10, 25, 50, 100],
                        "sPaginationType": "full_numbers",
                        "oLanguage": {
                            "sZeroRecords": "No records to display"
                        },
                        "sDom": '<"H"Tlf>t<"F"ip>',
                        "oTableTools": {
                            "sSwfPath": "../Content/copy_csv_xls_pdf.swf",
                            "aButtons": [
                                "copy", "xls", "pdf"
                            ]
                        },
                        "bDestroy": true,
                        "bJQueryUI": true
                    });
             
                }

                $.hideprogress();
            },
            error: function (x) {
                alert("The call to the server side failed. " + x.responseText);
            }
        });

    };
  

    DeleteCourseAssignment = function (courseId, sectionId, userId, thisValue) {
        var r = confirm("Are you sure, You want to De-Assign this Course.");
        if (!r)
            return false;
        $.ajax({
            url: 'DeAssignCourse',
            type: 'POST',
            data: {
                courseId: courseId,
                sectionId: sectionId,
                userId: userId
            },

            beforeSend: function () { $.showprogress(); },
            success: function (data) {
                if (data != null) {
                   
                    $('#CourseDesAssign').dialog({
                        modal: true,
                        width: "auto",
                        title: "De-Assign Course Status",
                        show: { effect: "fadeIn", duration: 1000 },
                        hide: {
                            effect: 'blind',
                            duration: 1000
                        },
                        height: "auto",
                        position : "center"
                    });
                    $('#CourseDesAssign').html(data.param1);
                    if (data.param1 == "<p style=\"color:green;font-weight:bold;\">Course is De-Assigned successfully.</p>") {
                         var targetRow = $(thisValue).closest("tr").get(0);
                            var aPos = assignCourseTable.fnGetPosition(targetRow);
                             assignCourseTable.fnDeleteRow(aPos);
                    }
                   
                }
                $.hideprogress();
            },
            error: function (x) {
                alert("The call to the server side failed. " + x.responseText);

            }
        });
        return true;
    };
    
    ViewCourseDetails = function (id,firstName, lastName) {

        $.ajax({
            url: 'GetCourseDetails',
            type: 'POST',
            data: {
                id: id
            },

            beforeSend: function () { $.showprogress(); },
            success: function (data) {
                if (data != null) {
                    $('#CourseDetailsBody').html("");
                    $('#tblCourseDetailsCollection').dataTable().fnDestroy();
                   
                    $('#CourseDetailsBody').html(data.param1);
                    assignCourseTable =    $('#tblCourseDetailsCollection').dataTable({
                        "iDisplayLength": 5,
                        "aLengthMenu": [5, 10, 25, 50, 100],
                        "sPaginationType": "full_numbers",
                        "oLanguage": {
                            "sZeroRecords": "No records to display"
                        },
                        "bDestroy": true,
                        "bJQueryUI": true
                    });
                    $('#CourseDetails').dialog({
                        modal: true,
                        title: "Course Details Of " + firstName + " " + lastName,
                        show: { effect: "fadeIn", duration: 1000 },
                        hide: {
                            effect: 'blind',
                            duration: 1000
                        },
                        width : "1000px",
                        height: "auto",
                        position : "center"
                    });
                }
                $.hideprogress();
            },
            error: function (x) {
                alert("The call to the server side failed. " + x.responseText);

            }
        });
        return true;
    };
</script>
